input[type=range] + .thumb.active {
  top: -5px !important;
  border-radius: 50% 50% 50% 50%;
}

.card {
  width: 98%;
  height: 95%;
}

.progress {
  height: 7px;

}

body {
  background-color: #424242;
}

nav {
  margin-bottom: 20px;
}

span.badge.new {
  margin-top: 7px;
  font-size: 0.95rem;
}
