input[type=range] + .thumb.active {
  top: -5px !important;
  border-radius: 50% 50% 50% 50%;
}

.card {
  width: 100%;
  /*height: 95%;*/
}

.progress {
  height: 9px;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
}

body {
  background-color: #424242;
}

nav {
  margin-bottom: 20px;
}

span.badge.new {
  margin-top: 7px;
  font-size: 0.95rem;
}

h3.activator {
  cursor: pointer;
}

h3.activator:hover {
  text-shadow: 1px 1px 2px white;
}

.editIcon:hover {
  text-shadow: 2px 2px 2px orange;

}

#more-text {
  position: relative;
  top: -4px;
}

.card .row {
  margin-bottom: 0px;
}

.card-image img {
  max-height: 150px;
  margin-top: 3px;
  margin-left: 3px;
}

.card.horizontal .card-content {
  padding: 0px;
}

/*h5 .chip {
  border-radius: 25%;
}*/
.card.horizontal {
  margin-bottom: 7.5px;
}
